UD4/UD4ex6/UD4ex1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="concesionario">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element name="modelo">
                    <xs:complexType mixed="true">
                        <xs:sequence maxOccurs="1" minOccurs="0">
                            <xs:element name="motor" type="motorType" /><!-- No se porque hace falta el mixed pero no funciona sin el-->
                            <xs:element name="potencia" type="xs:positiveInteger"/>
                            <xs:element name="consumo_medio" type="consumoType"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID"/>
                        <xs:attribute name="modelos_relacionados" type="xs:IDREFS" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="motorType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="modelos_relacionados" type="xs:IDREFS" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="consumoType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="velocidad_km" type="xs:positiveInteger" use="required"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>
