UD4/UD4ex5/5.2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="vehicles">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element name="vehicle">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="marca" type="xs:string"/>
                            <xs:element name="any" type="anyType"/>
                            <xs:element name="combustible" type="combustibleType" minOccurs="0" maxOccurs="1"/>
                        </xs:all>
                        <xs:attribute name="matricula" type="matriculaType"/>
                        <xs:attribute name="tipus" type="tipusVehicle"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="anyType">
        <xs:restriction base="xs:positiveInteger">
            <xs:minInclusive value="1900"></xs:minInclusive>
            <xs:maxInclusive value="2100"></xs:maxInclusive>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="matriculaType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}[A-Z]{3}"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tipusVehicle">
        <xs:restriction base="xs:string">
            <xs:enumeration value="cotxe"/>
            <xs:enumeration value="moto"/>
            <xs:enumeration value="bicicleta"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="combustibleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="gasolina"/>
            <xs:enumeration value="diesel"/>
            <xs:enumeration value="electric"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>