UD4/exemple/extension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="persones">
        <xs:complexType>
            <xs:all >
                <xs:element name="persona" type="personaType"/>
                <xs:element name="client" type="clientType"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="personaType">
        <xs:sequence>
            <xs:element name="nom" type="nomType" maxOccurs="unbounded"/>
            <xs:element name="edat" type="xs:integer" minOccurs="0"/>
            <xs:element name="data_naixement" type="xs:date" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="clientType">
        <xs:complexContent>
            <xs:extension base="personaType">
                <xs:sequence>
                    <xs:element name="email" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="nomType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="lang" type="xs:string" use="required"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>